.contact_bg{
    position: absolute;
    width: 100%;
    height: 150vh;
    background-color: rgb(21, 144, 181);
    z-index: -5;
}

.social_box{
    position: absolute;
    margin-left: 40vw ;
    margin-top: -30vh;
    width: auto;
}

.gmail_box{
    position: absolute;
    margin-left: 33vw ;
    margin-top: -40vh;

}



@media only screen and (max-width:950px) {
    .contact_bg{
        height: 280vh;
    }

    .social_box{
        position: absolute;
        width: auto;
        margin-left: 10vw;
        margin-top: 5em;
    }
    .gmail_box{
        position: absolute;
        margin-left: 10vw;
        margin-top: 1em;
    }
    .form_box{
        margin-top: 100vh;
    }
}

@media only screen and (max-width:600px) {
    .contact_bg{
        height: 180vh;
    }

}



