#body_intro {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
  }
  .container_fluid{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
  }
  /* ============= Animation background ========= */
  .background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
    opacity: 1;
  }
  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
  }
  .cube:nth-child(2n) {
    border-color: #FFF ;
  }
  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  .cube:nth-child(3) {
    animation-delay: 3s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(4) {
    animation-delay: 5s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    animation-delay: 6s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    animation-delay: 8s;
    left: 50vw;
    top: 10vh;
  }
  
  
  /* Animate Background*/
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }

  .im{
    font-weight: 700;
    font-size: 55px;
    color: #fff;
    width: auto;
    height: auto;
    display: flex;
    /* background-color: red; */
    /* justify-content: center; */
    align-items: center;
    margin-left: 53vh;
    position: relative;
  }

  .name {
    font-weight: 900;
    font-size: 70px;
    color: #fff;
    width: 110vh;
    height: 50vh ;
    margin-top: 20px;
    margin-left: 50vh;
    position: absolute;
  }

  .sirname{
    font-weight: 900;
    font-size: 70px;
    color: #fff;
    width: 90vh;
    height: 16vh ;
    margin-top: 250px;
    margin-left: 50vh;
    position: absolute;
  }

  .title_box{
    position: relative;
    width: auto;
    height: auto;
    margin-top: 380px;
    margin-right: 110px;
  }

  .dp_box{
    position: relative;
    height: auto;
    width: auto;
    margin-top: 14.005602240896359vh;
    margin-left: 32.552083333333336vw;
  }


  
