
.p_body {
  color: #000;
  /* background-color: #b3e4d4; */
  background: #e4e2f2;
  width: 100%;

  transition: background-color 1s ease;
}

/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  font-family: sans-serif;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}

/* colours */
.color-violet {
  background-color: #ab85d6;
}
.color-indigo {
  background-color: #4332CF;
}
.color-blue {
  background-color: #71b5f9;
}
.color-green {
  background-color: #ade2e4;
}
.color-yellow {
  background-color: #FAEB33;
}
.color-orange {
  background-color: #f2c9a1;
}
.color-red {
  background-color: #F2293A;
}

