h1.ml8 {
    font-weight: 900;
    font-size: 4.5em;
    color: #fff;
    width: 1em;
    height: 1em;
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
  }
  
  .ml8 .letters-container {
    position: absolute;
    left: 200px;
    right: 0;
    margin: inherit;
    top: 125px;
    bottom: 0;
    height: 1em;
    width: auto;
    display: flex;
    justify-content: left;
    /* background-color: black; */
  }
  
  .ml8 .letters {
    position: relative;
    z-index: 2;
    display: inline-block;
    line-height: 0.7em;
    right: -0.12em;
    top: -0.2em;
    /* background-color: skyblue; */
  }
  
  .ml8 .bang {
    font-size: 1.4em;
    top: auto;
    left: 0.1em;
  }
  
  .ml8 .circle {
    position: absolute;
    left: 180px;
    right: 0;
    /* margin: auto; */
    top: 120px;
    bottom: 0;
  }
  
  .ml8 .circle-white {
    width: 3em;
    height: 3em;
    border: 2px dashed white;
    border-radius: 2em;
    left: 180px;
    top: 120px;
  }
  
  .ml8 .circle-dark {
    width: 2.2em;
    height: 2.2em;
    background-color: #4ab3ce;
    border-radius: 3em;
    z-index: 1;
    left: 185px;
    top: 125px;
  }
  
  .ml8 .circle-dark-dashed {
    border-radius: 2.4em;
    background-color: transparent;
    border: 2px dashed #4f7b86;
    width: 2.3em;
    height: 2.3em;
    left: 0px;
    top: 0px;
    /* background-color: green; */
  }